@media (max-width: 992px) {
	.header {
		height: 90px;
	}

	.header-top {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		height: 80px;
	}

	.header-top p {
		padding: 0;
	}

	.header-top__currency {
		padding-left: 30px;
	}

	.header-top__language {
		justify-self: end;
	}

	.header-top__account {
		grid-column: 1/3;
    justify-self: center;
	}

	.products-list {
		grid-template-columns: 1fr 1fr;
	}

	.footer-contacts {
		flex-direction: column;
		justify-content: center;
		height: 140px;
	}

	.shipping {
		padding-bottom: 8px;
	}

	.call-us {
		padding-top: 8px;
	}

	.footer-information {
		grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
	}

	.facebook {
		display: none;
	}

	.from-twitter {
		margin: 0;
	}

	.contact-us,
	.information {
		margin: 0;
		justify-self: center;
	}

	.footer-socials {
		display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
		justify-content: center;
		row-gap: 6px;
	}

	.footer-socials div:first-of-type {
		margin-left: 0;
	}

	.footer-socials div:last-of-type {
		margin-right: 0;
	}

	.copyright {
		display: grid;
    grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		align-items: center;
    justify-items: center;
	}
	
	.rights {
		grid-row: 2/3;
	}
}

@media (max-width: 768px) {
	.sidebar {
		grid-row: 2/3;
    grid-column: 1/3;	
		margin: 0;
		width: 90vw;
    display: flex;
	}

	.sidebar-container {
		height: 260px;
		width: 70vw;
		margin-right: 10px;
	}

	.sidebar-dots_container {
		display: none;
	}

	.sidebar-slider {
		background-position: center;
		padding: 20px;
		flex-direction: row-reverse;
		height: 100%;
		min-height: auto;
	}

	.sidebar-subscribe {
		margin: 0;
	}

	.sidebar-subscribe__info {
		padding: 0 10px 30px 10px;
	}

	.side-bar_slider-title {
		display: none;
	}

	.sidebar-subscribe__button {
		padding: 15px 0 15px 0;
	}

	.sidebar-subscribe__input input {
		padding: 0;
		text-align: center;
	}

	.products-list {
		grid-row: 3/4;
		grid-column: 1/3;
		margin-top: 50px;
	}

	.from-tw-row1,
	.from-tw-row2 {
		padding-top: 0;
	}

	.from-tw-row2 {
		padding-top: 18px;
	}

	.from-tw_info p {
		font-size: 11px;
	}

	.information {
		margin-left: 30px;
	}

	.footer-information h3 {
		font-size: 15px;
	}

	.footer-nav {
		padding: 15px 0 0 0px;
	}
	.footer-contact-us__nav,
	.footer-nav {
		padding: 0;
	}

	.footer-contact-us__nav a,
	.footer-nav a {
		font-size: 11px;
	}
}

@media (max-width: 488px) {
	.account-nav a {
		padding: 0px 7px;
		font-size: 15px;
		border: none;
	}
	
	.header-title {
		padding-left: 8vw;
	}

	.header-title h2 {
		font-size: 24px;
	}

	.products-title {
    grid-column: 1/3;
	}

	.products-title h2 {
		font-size: 27px;
	}


	.sidebar {
		flex-direction: column;
	}
	
	.sidebar-container {
		width: 90vw;
	}

	.sidebar-subscribe {
		margin-top: 10px;
	}

	.products-list {
		grid-template-columns: 1fr;
	}

	.shipping p,
	.call-us p {
		font-size: 15px;
	}

	.footer-information {
		padding-top: 15px;
	}

	.footer-information {
		grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
	}

	.from-tw_container {
		width: 30px;
    height: 30px;
	}

	.from-tw_container svg {
		width: 20px;
		top: calc(50% - 10px);
    left: calc(50% - 10px);
	}

	.contact-us {
		grid-column: 1/3;
    justify-self: center;
    text-align: center;
	}

	.footer-socials {
		grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.footer-socials div {
		margin: 0 10px;
	}

	.footer-socials div:first-of-type {
		margin: 0 10px;
	}

	.footer-socials div:last-of-type {
		margin: 0 10px;
	}

	.rights-nav a {
		padding: 0 3px;
		border: none;
		font-size: 13px;
	}

	.rights p{
		font-size: 11px;
		text-align: center;
	}







}

@media (max-width: 392px) {
	.account-nav a {
		padding: 0px 3px;
		font-size: 13px;
		border: none;
	}

	.shipping p,
	.call-us p {
		font-size: 10px;
	}

	.svg-container {
		width: 40px;
    height: 40px;
	}

	.svg-container svg {
		width: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
	}
}
